footer {
    background: #0d65d9;
    text-align: center;
    font-size: 0;
}

footer img {
    margin: 10px auto;
    width: 100px;
    background: #fff;
}

footer p {
    padding: 10px;
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;
    color: #fff;
    font-size: 10px;
    font-weight: 700;
}