footer {
    text-align: center;
    font-size: 0;
}

footer img {
    margin: 10px auto;
    width: 100px;
}

footer p {
    padding: 10px;
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;
    color: #141414;
    font-size: 10px;
    font-weight: 700;
}